[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
babel = "*"
dash = "*"
dash-bootstrap-components = "*"
pandas = "*"
pandas-stubs = "*"
plotly = "*"
pyyaml = "*"
python-i18n = {extras = ["yaml"], version = "*"}

[dev-packages]

[requires]
python_version = "3.10"
